body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    justify-content: center;
    overflow-x: hidden;
}
.menu{
    display: none;
}
#navbar{
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.792);
    backdrop-filter: saturate(180%)blur(20px);
    /* border: 2px solid rebeccapurple; */
    /* font-size: 0.9vw; */
    font-size: 12px;
    position:fixed;
    /* transition: 0.3s !important; */
    z-index: 3;
    /* background-color: rgb(74, 74, 74); */
}
#right_icons a#menuIcon{
    display: none;
}
.navTransition{
    background-color: rgb(20, 20, 20) !important;
    backdrop-filter: blur(0px) !important;
    /* transition: 0.3s; */
}
#navbar ul{
    display: flex;
    width: 1000px;
    /* border: 2px solid yellow; */
    padding: 0px;
    justify-content: space-between;
    list-style-type: none;
}
#right_icons{
    display: flex;
}
#navbar ul a{
    color: rgb(197, 197, 197);
    padding: 0vw 0.4vw 0vw 0.5vw;
    margin: 0vw 0.9vw 0vw 0.9vw;
    text-decoration: none;
}
#navbar ul a:hover,#navbar ul a:hover i{
    color: rgb(225,225,225) !important;
}
div#ads{
    display: flex;
    font-size: 0.95vw;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-top: 6vh;
}
#ads a{
    text-decoration: none;
    color: #06c;
}
#ads a:hover{
    text-decoration: underline;
}
#forUniversity,#iphone14,#iphone14pro{
    border: none;
    width: 100%;
    min-height: 582px;
    overflow-y: hidden !important;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    background-color: transparent;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* background-image : url("https://www.apple.com/105/media/ww/home/2023/c75c958b-b7ab-431f-8c24-703fa6aafd7e/anim/bts-hero/large.mp4") center cover; */
}
#forUniversity h1,#iphone14pro h1,#iphone14 h1{
    font-size: 56px;
    width: 50%;
    margin-top: 5vh;
    margin-bottom: -2.5vh;
    text-align: center;
    font-weight: 600;
    letter-spacing: -0.02em;
    background-color: transparent;
}
#forUniversity h3,#iphone14pro h3,#iphone14 h3{
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -0.04em;
    margin-bottom: 2vh;
}
.links{
    display: flex;
}
#iphone14 a,#forUniversity a,#iphone14pro a,button a{
    text-decoration: none;
    color: #06c;
    margin: 0vh 0.8vw 0vh 0.8vw;
    font-size: 21px;
}
#forUniversity video{
    display: flex;
    position: absolute;
    /* width: 100%; */
    z-index:-1;
    margin-top: -6vh;
    /* width: 99.5vw;
    height: 84vh; */
}
#forUniversity #button{
    align-self: flex-end;
    /* width: 2vw; */
    /* position: absolute; */
    font-size: 2.5vw;
    opacity: 0.8;
    margin-top:37vh;
    margin-right: 1vw;
}
#forUniversity #button:hover{
    /* background-color: white; */
    opacity: 1;
}
#iphone14pro{
    color: white;
    background-color: rgba(0, 0, 0);
    height: 80vh;
    overflow: hidden;
    /* padding-bottom: 2vh !important; */
}
#iphone14pro img{
    display: flex;
    position: relative;
    /* z-index: -1; */
    align-self:center;
    min-width: 60%;
    max-width: 100%;
    margin-top: -4vh;
    /* margin-bottom: 100vh !important; */
    /* margin-bottom: 0vh !important; */
}
#iphone14pro .links,#iphone14pro h3{
    z-index: 2;
    background-color: transparent;
}
#iphone14{
    color: rgb(16, 16, 16);
    background-color: transparent
    /* margin-bottom: 0px; */
}
#iphone14 img{
    display: flex;
    /* margin-top: -4vh; */
    min-width: 50%;
    max-width: 58%;
    min-height: 73%;
    z-index: -1;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cards button{
    border: none;
    display: flex;
    cursor:pointer;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial;
    flex-direction: column;
    align-items: center;
    width: 48.5%;
    overflow: hidden;
    margin-bottom: 2vh;
    height: 78vh;
    background-color: transparent;
    /* border: 2px solid green; */
}
.cards button h1{
    font-size: 40px;
    font-weight: 600;
    width: 90%;
    letter-spacing: -0.02em;
    margin-bottom: 0vh;
}
.cards button h3{
    font-size: 21px;
    opacity: 0.85;
    font-weight: 500;
    margin-top: 1.6vh;
    letter-spacing: -0.01em;
    width: 70%;
}
.cards button a{
    font-size: 17px;
    color: #06c;
}
.cards button img{
    z-index: -1;
    display: flex;
    position: relative;
}
#switch img{
    /* width: 79%; */
    max-width: 90%;
    min-height: 55%;
    /* margin-top: 4vh; */
    /* border: 2px solid crimson; */
}
#macbook img{
    max-width: 200%;
    /* max-width: 120%; */
    margin-top:-26vh;
    min-height: 109%;
    /* height: 80vh; */
}
#watch,#ipad,#airpods{
    color: white;
}
#watch h1{
    font-size: 32px;
    margin-top: 7vh;
}
#watch h5{
    margin-top: 0vh;
    margin-bottom: 1.5vh;
    letter-spacing: 0.1em;
    color: crimson;
}
#watch h3{
    margin-top: 0vh;
    font-size: 19px;
    /* margin-bottom: 5vh; */
}
#watch img{
    min-height: 108%;
    /* max-width: 120%; */
    margin-top: -28vh;
}
#airpods h1,#trade h1{
    margin-top: 7vh;
}
#ipad img,#airpods img,#trade img{
    max-width: 180%;
    min-height: 115%;
    margin-top: -28vh;
}
/* {
    width: 180%;
    margin-top: -15vh; */
/* } */
#carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow-x: scroll !important; */
}
.carouselCards{
    --percentage:300% ;
    /* overflow-x: visible !important; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: fit-content;
    /* border: 2px solid black; */
    /* overflow-x: scroll !important; */
}
.carouselCards div{
    width: 82vw !important;
    display: flex;
    /* position: absolute; */
    /* margin-top: 90vh; */
    height: 45vw;
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
    margin: 0vh 0.4vw 1.7vh 0.4vw;
    /* align-self: center; */
    /* margin-right: 2vw; */
    /* transform: translateX(300%); */
}
/* #carousel .nav{
    margin-top: 90vh;
} */

#card1{
    background: url("https://is3-ssl.mzstatic.com/image/thumb/BkCQwrg5nkdzmB4uocPNhQ/1250x703.jpg") no-repeat center/cover;

}
#card2{
    background: url("https://is4-ssl.mzstatic.com/image/thumb/TFK62rQMTTWVNoPgxjIkPQ/1250x703.jpg") no-repeat center/cover;
    /* opacity: 0.7; */

}
#card3{
    background: url("https://is3-ssl.mzstatic.com/image/thumb/JJo1Kp84yVQ1emwipSnq2A/1250x703.jpg") no-repeat center/cover;

}
#card4{
    background: url("https://is3-ssl.mzstatic.com/image/thumb/CvNCk6LFQGbwX_XWcd7gag/1250x703.jpg") no-repeat center/cover;

}
#card5{
    background: url("https://is2-ssl.mzstatic.com/image/thumb/divxDY27bQOH7PPRX2wfJQ/1250x703.jpg") no-repeat center/cover;

}
#card6{
    background: url("https://is2-ssl.mzstatic.com/image/thumb/JdmLVQN99mIa15_uECg4uw/1250x703.jpg") no-repeat center/cover;

}
#card7{
    background: url("https://is3-ssl.mzstatic.com/image/thumb/OCdJtCx9e51TYxoG8aBJZQ/1250x703.jpg") no-repeat center/cover;


}
.opaque{
    opacity: 0.25;
    filter: blur(1px);
    background-color: black;
}
.move{
    transform: translateX(var(--percentage));
    transition: 0.5s;
}
.nav {
    margin-bottom: 2vh;
}
.nav i{
    font-size: 0.7vw;
    margin: 0vh 0.5vw;
    cursor: pointer;
}
.nav i:hover{
    color: #303030 !important;
}
/* .nav #pauseButton{
    margin-left: 45vw;
} */
/* .nav .fa-circle{
    margin: 0vh 0.31vw;
    align-self: center;
} */
.hoverMenu{
    width: 100%;
    height: fit-content;
    display: flex;
    z-index: 1000;
    margin: 0px !important;
    margin-top: 5.7vh !important;
    padding: 3.5vh 0vw 6vh 0vw;
    padding-left: 0px;
    justify-content: center;
    background-color: rgb(20, 20, 20);
    position: fixed;
    visibility: hidden;
    /* transform: translateY(-100%); */
}
.dropMenuDown{
    transform:translateY(0%) !important;
    transition:0.3s !important;
}
.dropMenuUp{
    transform:translateY(-100%) !important;
    transition:0.3s !important;
}
.hoverMenu .lists{
    display: flex;
    width: 1045px;
    padding: 0px;
    margin-left: 0px !important;
    /* border: 2px solid white; */
    justify-content: left;
}
.hoverMenu ul{
    list-style-type: none;
    margin-right: 2.2vw;
    /* margin: 5vh 10vw 5vh 10vw; */
}
.hoverMenu ul li{
    font-weight: 600;
}
.hoverMenu ul li a{
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: rgb(224, 224, 224);
}
.hoverMenu ul li a:hover{
    color: rgb(240, 240, 240);
}
#ul1 li{
    font-size: 28px;
    margin-bottom: 2vh;
}
#ul2 li,#ul3 li{
    font-size: 17px;
    margin-bottom: 1.4vh;
}
#listHead{
    font-weight: 400 !important;
    font-size: 13px !important;
    color: #bebebe;
    margin-bottom: 2.7vh !important;
}
.Visible{
    visibility: visible !important;
    /* transition-property: visibility;
    transition-duration: 2s; */
}
.current{
    opacity: 1;
}
.next,.prev{
    opacity: 0.4;
}
.blur{
    filter: saturate(180%)blur(10px);
    /* opacity: 0.8; */
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ececec95;
    width: 100%;
}
footer p{
    width: 1000px;
    letter-spacing: -0.01em;
    line-height: 1.4;
    /* font-size: 0.8vw; */
    font-size: 12px;
    color: rgb(92, 92, 92);
    margin-bottom: 0vh;
}
footer p a{
    color: rgb(56, 56, 56);
}
footer hr{
    width: 1000px !important;
    color: rgb(92, 92, 92);
    opacity: 0.5;
    margin: 3vh 0vw;
}
footer .lists{
    width: 1000px;
    /* width: 63%; */
    /* max-width: 1000px; */
    /* border: 2px solid red; */
    justify-content: space-between;
    display: flex;
}
footer .lists ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    /* font-size: 0.8vw; */
    font-size: 12px;
    text-transform: capitalize;
}
.lHead{
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: 600 !important;
    color: rgba(60, 60, 60, 0.877);
}
footer .lists li a{
    text-decoration: none;
    color: rgb(92, 92, 92);
    letter-spacing: -0.01em;
    line-height: 2;
    text-transform: capitalize;
    /* font-size: 0.8vw; */
    font-size: 12px;

}
footer .lists li a:hover{
    text-decoration: underline;
}
footer .lists2{
    display: none;
}
.lowerFooter{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    /* font-size: 0.8vw; */
    font-size: 12px;

}
.lowerFooter hr{
    width: 100%;
    margin: 0.7vh 0vw !important;
}
.lowerFooter p a{
    color: #06c;
}
.lowerFooter p{
    width: fit-content;
}
.belowHr ul{
    display: flex;
    list-style-type: none;
}
.belowHr{
    display: flex;
    justify-content: left;
    margin-top: -1.3vh !important;
    margin-bottom: 3vh;
}
.belowHr ul a{
    color: rgb(45, 45, 45);
    text-decoration:none ;
    /* font-size: inherit; */
    /* font-size: 0.81vw; */
    font-size: 13px;

    margin: 0vh 0.5vw;
}
.belowHr ul a:hover{
    text-decoration: underline;
}
/* .upperheader{
    border: 2px solid blue;
    background-color: rgb(20, 20, 20);
} */
@media only screen and ( max-width:1030px ) {
    .menu{
        display: flex;
        background-color: rgb(20, 20, 20);
        width: 100vw;
        height: 100vh;
        z-index: 1001;
        position: fixed;
        display: none;
    }
    .menu ul{
        list-style-type: none;
        width: 100%;
        /* padding-right: 40px; */
    }
    .overflowHidden{
        overflow: hidden;
    }
    .menu li{
        width: 100%;
        display: flex;
        font-size: 28px;
        justify-content: space-between;
        margin:2vh 0vw;
    }
    .menu ul li a{
        font-weight: 600;
        color: #ffffffde;
        text-decoration: none;
    }
    .menu li i{
        visibility: hidden;
        margin-right: 65px;
    }
    .menu li:hover i{
        visibility: visible;
        transition: -0.2s;
    }
    .menu li:hover a{
        color: #fffffff1;
    }
    #closeMenu,#closeMenu i{
        margin: 0vh 65px 2vh 0px!important;
        visibility: visible !important;
        font-size: 28px;
    }
    #navbar ul a{
        display: none;
    }
    #apple_logo,#right_icons a{
        display: block !important;
        padding-right: 10px !important;
        /* border: 2px solid green; */
        font-size: 19px;
    }
    div#ads{
        font-size: 14px;
        margin-top: 7vh;
    }
    .hoverMenu{
        height: 100%;
    }
    footer{
        width: 100%;
    }
    footer p,footer hr,.lowerFooter,.lowerFooter hr{
        width: 95% !important;
    }
    footer .lists{
        display: none;
    }
    footer .lists2{
        display: flex;
        width: 95%;
        /* border: 2px solid red; */
        justify-content: center;
        margin: 0vh 0vw 2vh 0vw;
        
    }
    .lists2 ul{
        list-style-type: none;
        width: 100%;
        /* border: 2px solid black; */
        padding: 0px;
        margin: 0px;
        justify-content: center;
    }
    .lists2 li {
        width: 100%;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        font-size: 12px;
        padding: 1.5vh 0vw;
        /* border: 2px solid tomato; */
        justify-content: space-between;
    }
    .lists2 li a{
        text-decoration: none;
        color: rgba(65, 65, 65, 0.838) !important;
    }
    .lists2 li i{
        font-size: 11px !important;
        padding-right: 4px;
    }
    .lists2 ul hr{
        margin: 0px;
        width: 100% !important;
    }
    .lists2 ul ul{
        margin-left: 10px;
        display: none;
        text-transform: capitalize;
        /* border: 2px solid blue; */
    }
    .lists2 ul ul li{
        width: 100%;
        /* padding: 0px; */
        /* border: 2px solid rgb(221, 255, 0) !important; */
    }
    .lists2 ul ul li:hover a{
        text-decoration: underline;
    }
    
    .clickedLink{
        /* padding-right: 20px !important; */
        border: 2px solid rgb(0, 187, 208,0.84);
        border-top: 4px solid rgba(0, 187, 208, 0.84) !important;
        border-bottom: 4px solid rgb(0, 187, 208,0.84) !important;
    }
    .lowerFooter .belowHr{
        margin-top: 0.8vh !important;
        flex-direction: column;
        justify-content: left;
    }
    .lowerFooter hr{
        display: none;
    }
    .belowHr ul,.belowHr ul li a{
        padding-left: 0px !important;
        margin-right: 2px;
        margin-left: 0px;
    }
}