body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    justify-content: center;
    overflow-x: hidden;
}
#navbar{
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 1;
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.792);
    backdrop-filter: blur(10px);
    /* border: 2px solid rebeccapurple; */
    font-size: 0.9vw;
    position:fixed;
    transition: 0.3s !important;
    z-index: 2;
    /* background-color: rgb(74, 74, 74); */
}
.navTransition{
    background-color: rgb(20, 20, 20) !important;
    backdrop-filter: blur(0px) !important;
    /* transition: 0.3s; */
}
#navbar ul{
    display: flex;
    padding: 0px;
    justify-content: center;
    list-style-type: none;
}
#right_icons{
    display: flex;
}
#navbar ul a{
    color: rgb(197, 197, 197);
    padding: 0vw 0.4vw 0vw 0.4vw;
    margin: 0vw 0.9vw 0vw 0.9vw;
    text-decoration: none;
}
#navbar ul a:hover,#navbar ul a:hover i{
    color: rgb(225,225,225) !important;
}
div#ads{
    display: flex;
    font-size: 0.95vw;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-top: 6vh;
}
#ads a{
    text-decoration: none;
    color: #06c;
}
#ads a:hover{
    text-decoration: underline;
}
#forUniversity,#iphone14,#iphone14pro{
    border: none;
    width: 100%;
    height: 78vh;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
    background-color: transparent;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* background-image : url("https://www.apple.com/105/media/ww/home/2023/c75c958b-b7ab-431f-8c24-703fa6aafd7e/anim/bts-hero/large.mp4") center cover; */
}
#forUniversity h1,#iphone14pro h1,#iphone14 h1{
    font-size: 3.55vw;
    width: 34%;
    margin-top: 5vh;
    margin-bottom: -2.5vh;
    text-align: center;
    font-weight: 600;
    letter-spacing: -0.02em;
    background-color: transparent;
}
#forUniversity h3,#iphone14pro h3,#iphone14 h3{
    font-size: 1.9vw;
    font-weight: 500;
    letter-spacing: -0.04em;
    margin-bottom: 2vh;
}
.links{
    display: flex;
}
#iphone14 a,#forUniversity a,#iphone14pro a,button a{
    text-decoration: none;
    color: #06c;
    margin: 0vh 0.8vw 0vh 0.8vw;
    font-size: 1.35vw;
}
#forUniversity video{
    display: flex;
    position: absolute;
    /* width: 100%; */
    z-index:-1;
    margin-top: -6vh;
    /* width: 99.5vw;
    height: 84vh; */
}
#forUniversity #button{
    align-self: flex-end;
    /* width: 2vw; */
    /* position: absolute; */
    font-size: 2.5vw;
    opacity: 0.8;
    margin-top:37vh;
    margin-right: 1vw;
}
#forUniversity #button:hover{
    /* background-color: white; */
    opacity: 1;
}
#iphone14pro{
    color: white;
    background-color: rgba(0, 0, 0);
    height: 80vh;
    overflow: hidden;
    /* padding-bottom: 2vh !important; */
}
#iphone14pro img{
    display: flex;
    position: relative;
    /* z-index: -1; */
    align-self:center;
    width: 65%;
    margin-top: -4vh;
    /* margin-bottom: 100vh !important; */
    /* margin-bottom: 0vh !important; */
}
#iphone14pro .links,#iphone14pro h3{
    z-index: 2;
    background-color: transparent;
}
#iphone14{
    color: rgb(16, 16, 16);
    background-color: transparent
    /* margin-bottom: 0px; */
}
#iphone14 img{
    display: flex;
    width: 50%;
    z-index: -1;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cards button{
    border: none;
    display: flex;
    cursor:pointer;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial;
    flex-direction: column;
    align-items: center;
    width: 48.5%;
    overflow: hidden;
    margin-bottom: 2vh;
    height: 78vh;
    background-color: transparent;
    /* border: 2px solid green; */
}
.cards button h1{
    font-size: 2.4vw;
    font-weight: 600;
    width: 55%;
    letter-spacing: -0.02em;
    margin-bottom: 0vh;
}
.cards button h3{
    font-size: 1.4vw;
    opacity: 0.85;
    font-weight: 500;
    margin-top: 1.6vh;
    letter-spacing: -0.01em;
    width: 63%;
}
.cards button a{
    font-size: 1.2vw;
    color: #06c;
}
.cards button img{
    z-index: -1;
    display: flex;
    position: relative;
}
#switch img{
    width: 79%;
    margin-top: 4vh;
    /* border: 2px solid crimson; */
}
#macbook img{
    width: 149%;
    margin-top:-21vh;
    height: 100vh;
    /* height: 80vh; */
}
#watch,#ipad,#airpods{
    color: white;
}
#watch h1{
    font-size: 2.0vw;
    margin-top: 7vh;
}
#watch h5{
    margin-top: 0vh;
    margin-bottom: 1.5vh;
    font-size: 0.9vw;
    letter-spacing: 0.1em;
    color: crimson;
}
#watch h3{
    margin-top: 0vh;
    /* margin-bottom: 5vh; */
}
#watch img{
    width: 177%;
    margin-top: -26vh;
}
#airpods h1,#trade h1{
    margin-top: 7vh;
}
#ipad img,#airpods img,#trade img{
    width: 180%;
    margin-top: -24vh;
}
/* {
    width: 180%;
    margin-top: -15vh; */
/* } */
#carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow-x: scroll !important; */
}
.carouselCards{
    /* overflow-x: visible !important; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: fit-content;
    /* border: 2px solid black; */
    /* overflow-x: scroll !important; */
}
.carouselCards div{
    width: 82vw !important;
    display: flex;
    /* position: absolute; */
    /* margin-top: 90vh; */
    height: 90vh;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    margin: 0vh 0.5vw 2vh 0.5vw;
    /* align-self: center; */
    /* margin-right: 2vw; */
}
/* #carousel .nav{
    margin-top: 90vh;
} */

#card1{
    background-image: url("https://is3-ssl.mzstatic.com/image/thumb/BkCQwrg5nkdzmB4uocPNhQ/1250x703.jpg");

}
#card2{
    background-image: url("https://is4-ssl.mzstatic.com/image/thumb/TFK62rQMTTWVNoPgxjIkPQ/1250x703.jpg");
    /* opacity: 0.7; */

}
#card3{
    background-image: url("https://is3-ssl.mzstatic.com/image/thumb/JJo1Kp84yVQ1emwipSnq2A/1250x703.jpg");

}
#card4{
    background-image: url("https://is3-ssl.mzstatic.com/image/thumb/CvNCk6LFQGbwX_XWcd7gag/1250x703.jpg");
    /* opacity: 0.4; */

}
#card5{
    background-image: url("https://is2-ssl.mzstatic.com/image/thumb/divxDY27bQOH7PPRX2wfJQ/1250x703.jpg");

}
#card6{
    background-image: url("https://is2-ssl.mzstatic.com/image/thumb/JdmLVQN99mIa15_uECg4uw/1250x703.jpg");

}
#card7{
    background-image: url("https://is3-ssl.mzstatic.com/image/thumb/OCdJtCx9e51TYxoG8aBJZQ/1250x703.jpg");

}
.nav {
    margin-bottom: 2vh;
}
/* .nav #pauseButton{
    margin-left: 45vw;
} */
/* .nav .fa-circle{
    margin: 0vh 0.31vw;
    align-self: center;
} */
.hoverMenu{
    width: 100%;
    height: fit-content;
    display: flex;
    z-index: 1000;
    margin-top: 5.7vh;
    padding: 3.5vh 0vw 6vh 0vw;
    justify-content: center;
    background-color: rgb(20, 20, 20);
    position: fixed;
    visibility: hidden;
    /* transform: translateY(-100%); */
}
.dropMenuDown{
    transform:translateY(0%) !important;
    transition:0.3s !important;
}
.dropMenuUp{
    transform:translateY(-100%) !important;
    transition:0.3s !important;
}
.hoverMenu .lists{
    display: flex;
    width: 70.2%;
    justify-content: left;
}
.hoverMenu ul{
    list-style-type: none;
    margin-right: 2.2vw;
    /* margin: 5vh 10vw 5vh 10vw; */
}
.hoverMenu ul li{
    font-weight: 600;
}
.hoverMenu ul li a{
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: rgb(224, 224, 224);
}
.hoverMenu ul li a:hover{
    color: rgb(240, 240, 240);
}
#ul1 li{
    font-size: 1.6vw;
    margin-bottom: 2vh;
}
#ul2 li,#ul3 li{
    font-size: 0.9vw;
    margin-bottom: 1.4vh;
}
#listHead{
    font-weight: 400 !important;
    font-size: 0.9vw !important;
    color: #bebebe;
    margin-bottom: 2.7vh !important;
}
.Visible{
    visibility: visible !important;
    /* transition-property: visibility;
    transition-duration: 2s; */
}
.current{
    opacity: 1;
}
.next,.prev{
    opacity: 0.4;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ececec95;
    width: 100%;
}
footer p{
    width: 63%;
    letter-spacing: -0.01em;
    line-height: 1.4;
    font-size: 0.8vw;
    color: rgb(92, 92, 92);
    margin-bottom: 0vh;
}
footer p a{
    color: rgb(56, 56, 56);
}
footer hr{
    width: 63%;
    color: rgb(92, 92, 92);
    margin: 3vh 0vw;
}
.lists{
    width: 63%;
    justify-content: space-between;
    display: flex;
}
.lists ul{
    list-style-type: none;

}
.lists li a{
    text-decoration: none;
    color: rgb(92, 92, 92);
    letter-spacing: -0.01em;
    line-height: 2;
    font-size: 0.8vw;
}
.lists li a:hover{
    text-decoration: underline;
}
/* .upperheader{
    border: 2px solid blue;
    background-color: rgb(20, 20, 20);
} */
